USE [master]
GO
/****** Object:  Database [EnergyMeteringSystem]    Script Date: 19.05.2026 15:28:04 ******/
CREATE DATABASE [EnergyMeteringSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnergyMeteringSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\EnergyMeteringSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnergyMeteringSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\EnergyMeteringSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnergyMeteringSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnergyMeteringSystem]
GO
/****** Object:  Table [dbo].[Accrual]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accrual](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[PeriodMonth] [int] NOT NULL,
	[PeriodYear] [int] NOT NULL,
	[ConsumptionValue] [decimal](15, 4) NOT NULL,
	[TariffId] [int] NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PenaltyAmount] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ActionTime] [datetime] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[RecordId] [int] NOT NULL,
	[OldValuesJson] [nvarchar](max) NULL,
	[NewValuesJson] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[RegionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumptionObject]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumptionObject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[HouseNumber] [nvarchar](10) NOT NULL,
	[ApartmentNumber] [nvarchar](10) NULL,
	[TotalArea] [decimal](8, 2) NULL,
	[ResidentCount] [int] NULL,
	[LastPaymentDate] [datetime] NULL,
	[DebtStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[ContractDate] [date] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[ContractStatusId] [int] NOT NULL,
	[TariffId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractStatus]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[AllowsBilling] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DebtProcessLog]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebtProcessLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[DebtAmount] [decimal](15, 2) NOT NULL,
	[TwoMonthNormAmount] [decimal](15, 2) NOT NULL,
	[NotificationDate] [datetime] NULL,
	[NotificationSent] [bit] NOT NULL,
	[RestrictionDate] [datetime] NULL,
	[RestrictionApplied] [bit] NOT NULL,
	[DisconnectionDate] [datetime] NULL,
	[DisconnectionApplied] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_DebtProcessLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergySource]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergySource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[CapacityMW] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meter]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[MeterTypeId] [int] NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[InstallationDate] [date] NOT NULL,
	[InitialReading] [decimal](15, 4) NOT NULL,
	[MeterStatusId] [int] NOT NULL,
	[VerificationDate] [date] NULL,
	[NextVerificationDate] [date] NULL,
	[ServiceLifeYears] [int] NULL,
	[RemovalDate]  AS (dateadd(year,[ServiceLifeYears],[InstallationDate])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterDataHistory]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterDataHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [int] NOT NULL,
	[PeriodYear] [int] NOT NULL,
	[PeriodMonth] [int] NOT NULL,
	[Value] [decimal](15, 4) NOT NULL,
	[SourceType] [nvarchar](20) NOT NULL,
	[ChangedByUserId] [int] NOT NULL,
	[ChangedAt] [datetime] NOT NULL,
	[Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_MeterDataHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReading]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReading](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [int] NOT NULL,
	[ReadingDate] [date] NOT NULL,
	[Value] [decimal](15, 4) NOT NULL,
	[EnteredAt] [datetime] NOT NULL,
	[EnteredByUserId] [int] NOT NULL,
	[ReadingStatusId] [int] NOT NULL,
	[RejectionReasonId] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[TariffZone] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReplacementHistory]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReplacementHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OldMeterId] [int] NOT NULL,
	[NewMeterId] [int] NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[ReplacementDate] [date] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[LastReadingOld] [decimal](15, 4) NULL,
	[FirstReadingNew] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterStatus]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CanAcceptReadings] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterType]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Voltage] [int] NOT NULL,
	[MaxCurrent] [int] NOT NULL,
	[AccuracyClass] [nvarchar](10) NOT NULL,
	[DigitCount] [int] NOT NULL,
	[DecimalPlaces] [int] NOT NULL,
	[ServiceLifeYears] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationLog]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[SentDate] [datetime] NOT NULL,
	[SentMethod] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectType]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NormConsumption] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[ReceivedByUserId] [int] NOT NULL,
	[ReceiptNumber] [nvarchar](50) NULL,
	[PeriodMonth] [int] NOT NULL,
	[PeriodYear] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RequiresCashier] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentPenalty]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentPenalty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccrualId] [int] NOT NULL,
	[PenaltyAmount] [decimal](15, 2) NOT NULL,
	[DaysOverdue] [int] NOT NULL,
	[CalculatedAt] [datetime] NOT NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentPenalty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingStatus]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ColorHex] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectionReason]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectionReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[RequiresComment] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CityId] [int] NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyPoint]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EnergySourceId] [int] NOT NULL,
	[VoltageLevel] [int] NOT NULL,
	[MaxPower] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyPointConsumptionObject]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyPointConsumptionObject](
	[SupplyPointId] [int] NOT NULL,
	[ConsumptionObjectId] [int] NOT NULL,
	[ConnectionDate] [date] NOT NULL,
	[DisconnectionDate] [date] NULL,
 CONSTRAINT [PK_SupplyPointConsumptionObject] PRIMARY KEY CLUSTERED 
(
	[SupplyPointId] ASC,
	[ConsumptionObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariff]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TariffTypeId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[PricePerUnit] [decimal](10, 4) NOT NULL,
	[ZoneNumber] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TariffType]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ZoneCount] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
	[IsDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[PermissionsJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationInterval]    Script Date: 19.05.2026 15:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationInterval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterTypeId] [int] NOT NULL,
	[Years] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accrual] ON 

INSERT [dbo].[Accrual] ([Id], [ConsumptionObjectId], [PeriodMonth], [PeriodYear], [ConsumptionValue], [TariffId], [Amount], [IsPaid], [PenaltyAmount]) VALUES (1, 1, 1, 2024, CAST(605.0000 AS Decimal(15, 4)), 1, CAST(3146.00 AS Decimal(15, 2)), 1, CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[Accrual] ([Id], [ConsumptionObjectId], [PeriodMonth], [PeriodYear], [ConsumptionValue], [TariffId], [Amount], [IsPaid], [PenaltyAmount]) VALUES (2, 1, 2, 2024, CAST(100.0000 AS Decimal(15, 4)), 1, CAST(520.00 AS Decimal(15, 2)), 0, CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[Accrual] ([Id], [ConsumptionObjectId], [PeriodMonth], [PeriodYear], [ConsumptionValue], [TariffId], [Amount], [IsPaid], [PenaltyAmount]) VALUES (3, 2, 1, 2024, CAST(650.0000 AS Decimal(15, 4)), 1, CAST(3380.00 AS Decimal(15, 2)), 1, CAST(0.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Accrual] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([Id], [UserId], [ActionTime], [ActionType], [TableName], [RecordId], [OldValuesJson], [NewValuesJson], [IpAddress]) VALUES (1, 1, CAST(N'2026-05-05T16:17:37.233' AS DateTime), N'LOGIN', N'User', 1, NULL, N'{"login":"operator"}', N'127.0.0.1')
INSERT [dbo].[AuditLog] ([Id], [UserId], [ActionTime], [ActionType], [TableName], [RecordId], [OldValuesJson], [NewValuesJson], [IpAddress]) VALUES (2, 2, CAST(N'2026-05-05T16:17:37.233' AS DateTime), N'VERIFY', N'MeterReading', 1, N'{"status":1}', N'{"status":2}', N'127.0.0.1')
INSERT [dbo].[AuditLog] ([Id], [UserId], [ActionTime], [ActionType], [TableName], [RecordId], [OldValuesJson], [NewValuesJson], [IpAddress]) VALUES (3, 3, CAST(N'2026-05-05T16:17:37.233' AS DateTime), N'CALCULATE', N'Accrual', 1, NULL, N'{"period":"01.2024"}', N'127.0.0.1')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [RegionId]) VALUES (2, N'Агидель', 1)
INSERT [dbo].[City] ([Id], [Name], [RegionId]) VALUES (1, N'Нефтекамск', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsumptionObject] ON 

INSERT [dbo].[ConsumptionObject] ([Id], [ObjectTypeId], [StreetId], [HouseNumber], [ApartmentNumber], [TotalArea], [ResidentCount], [LastPaymentDate], [DebtStatus]) VALUES (1, 1, 1, N'25', N'46', CAST(65.50 AS Decimal(8, 2)), 3, NULL, N'NoDebt')
INSERT [dbo].[ConsumptionObject] ([Id], [ObjectTypeId], [StreetId], [HouseNumber], [ApartmentNumber], [TotalArea], [ResidentCount], [LastPaymentDate], [DebtStatus]) VALUES (2, 1, 1, N'25', N'47', CAST(70.20 AS Decimal(8, 2)), 4, NULL, N'NoDebt')
INSERT [dbo].[ConsumptionObject] ([Id], [ObjectTypeId], [StreetId], [HouseNumber], [ApartmentNumber], [TotalArea], [ResidentCount], [LastPaymentDate], [DebtStatus]) VALUES (3, 2, 2, N'67', NULL, CAST(120.00 AS Decimal(8, 2)), 5, NULL, N'NoDebt')
SET IDENTITY_INSERT [dbo].[ConsumptionObject] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([Id], [ContractNumber], [ConsumptionObjectId], [ContractDate], [StartDate], [EndDate], [ContractStatusId], [TariffId]) VALUES (1, N'Д-001/23', 1, CAST(N'2023-01-01' AS Date), CAST(N'2023-01-01' AS Date), NULL, 1, 3)
INSERT [dbo].[Contract] ([Id], [ContractNumber], [ConsumptionObjectId], [ContractDate], [StartDate], [EndDate], [ContractStatusId], [TariffId]) VALUES (2, N'Д-002/23', 2, CAST(N'2023-01-01' AS Date), CAST(N'2023-01-01' AS Date), NULL, 1, 3)
INSERT [dbo].[Contract] ([Id], [ContractNumber], [ConsumptionObjectId], [ContractDate], [StartDate], [EndDate], [ContractStatusId], [TariffId]) VALUES (3, N'Д-003/22', 3, CAST(N'2022-01-01' AS Date), CAST(N'2022-01-01' AS Date), NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractStatus] ON 

INSERT [dbo].[ContractStatus] ([Id], [Name], [AllowsBilling]) VALUES (1, N'Активен', 1)
INSERT [dbo].[ContractStatus] ([Id], [Name], [AllowsBilling]) VALUES (2, N'Расторгнут', 0)
SET IDENTITY_INSERT [dbo].[ContractStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[DebtProcessLog] ON 

INSERT [dbo].[DebtProcessLog] ([Id], [ConsumptionObjectId], [DebtAmount], [TwoMonthNormAmount], [NotificationDate], [NotificationSent], [RestrictionDate], [RestrictionApplied], [DisconnectionDate], [DisconnectionApplied], [Status], [LastUpdate]) VALUES (1, 1, CAST(1372.20 AS Decimal(15, 2)), CAST(5000.00 AS Decimal(15, 2)), NULL, 0, NULL, 0, NULL, 0, N'Warning', CAST(N'2026-05-19T15:09:40.070' AS DateTime))
INSERT [dbo].[DebtProcessLog] ([Id], [ConsumptionObjectId], [DebtAmount], [TwoMonthNormAmount], [NotificationDate], [NotificationSent], [RestrictionDate], [RestrictionApplied], [DisconnectionDate], [DisconnectionApplied], [Status], [LastUpdate]) VALUES (2, 2, CAST(10086.38 AS Decimal(15, 2)), CAST(5000.00 AS Decimal(15, 2)), NULL, 0, NULL, 0, NULL, 0, N'Warning', CAST(N'2026-05-19T15:09:40.070' AS DateTime))
INSERT [dbo].[DebtProcessLog] ([Id], [ConsumptionObjectId], [DebtAmount], [TwoMonthNormAmount], [NotificationDate], [NotificationSent], [RestrictionDate], [RestrictionApplied], [DisconnectionDate], [DisconnectionApplied], [Status], [LastUpdate]) VALUES (3, 3, CAST(31935.00 AS Decimal(15, 2)), CAST(5000.00 AS Decimal(15, 2)), NULL, 0, NULL, 0, NULL, 0, N'Warning', CAST(N'2026-05-19T15:09:40.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[DebtProcessLog] OFF
GO
SET IDENTITY_INSERT [dbo].[EnergySource] ON 

INSERT [dbo].[EnergySource] ([Id], [Name], [Code], [CapacityMW]) VALUES (1, N'Нефтекамская ТЭЦ', N'TEC-01', CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[EnergySource] ([Id], [Name], [Code], [CapacityMW]) VALUES (2, N'Агидельская ГЭС', N'GES-02', CAST(120.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[EnergySource] OFF
GO
SET IDENTITY_INSERT [dbo].[Meter] ON 

INSERT [dbo].[Meter] ([Id], [SerialNumber], [MeterTypeId], [ConsumptionObjectId], [InstallationDate], [InitialReading], [MeterStatusId], [VerificationDate], [NextVerificationDate], [ServiceLifeYears]) VALUES (1, N'SN00123456', 1, 1, CAST(N'2023-01-15' AS Date), CAST(10.0000 AS Decimal(15, 4)), 1, CAST(N'2023-01-15' AS Date), CAST(N'2029-01-15' AS Date), 14)
INSERT [dbo].[Meter] ([Id], [SerialNumber], [MeterTypeId], [ConsumptionObjectId], [InstallationDate], [InitialReading], [MeterStatusId], [VerificationDate], [NextVerificationDate], [ServiceLifeYears]) VALUES (2, N'SN00123457', 1, 2, CAST(N'2023-03-10' AS Date), CAST(0.0000 AS Decimal(15, 4)), 1, CAST(N'2023-03-10' AS Date), CAST(N'2029-03-10' AS Date), 8)
INSERT [dbo].[Meter] ([Id], [SerialNumber], [MeterTypeId], [ConsumptionObjectId], [InstallationDate], [InitialReading], [MeterStatusId], [VerificationDate], [NextVerificationDate], [ServiceLifeYears]) VALUES (3, N'SN00234567', 2, 3, CAST(N'2022-06-20' AS Date), CAST(0.0000 AS Decimal(15, 4)), 1, CAST(N'2022-06-20' AS Date), CAST(N'2028-06-20' AS Date), 8)
SET IDENTITY_INSERT [dbo].[Meter] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterReading] ON 

INSERT [dbo].[MeterReading] ([Id], [MeterId], [ReadingDate], [Value], [EnteredAt], [EnteredByUserId], [ReadingStatusId], [RejectionReasonId], [Comment], [TariffZone]) VALUES (2, 1, CAST(N'2023-10-25' AS Date), CAST(350.2500 AS Decimal(15, 4)), CAST(N'2023-10-25T10:00:00.000' AS DateTime), 1, 2, NULL, NULL, 1)
INSERT [dbo].[MeterReading] ([Id], [MeterId], [ReadingDate], [Value], [EnteredAt], [EnteredByUserId], [ReadingStatusId], [RejectionReasonId], [Comment], [TariffZone]) VALUES (3, 1, CAST(N'2023-11-25' AS Date), CAST(425.5000 AS Decimal(15, 4)), CAST(N'2023-11-25T11:00:00.000' AS DateTime), 1, 2, NULL, NULL, 1)
INSERT [dbo].[MeterReading] ([Id], [MeterId], [ReadingDate], [Value], [EnteredAt], [EnteredByUserId], [ReadingStatusId], [RejectionReasonId], [Comment], [TariffZone]) VALUES (4, 1, CAST(N'2023-12-25' AS Date), CAST(510.7500 AS Decimal(15, 4)), CAST(N'2023-12-25T09:30:00.000' AS DateTime), 1, 2, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MeterReading] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterStatus] ON 

INSERT [dbo].[MeterStatus] ([Id], [Name], [CanAcceptReadings]) VALUES (1, N'Исправен', 1)
INSERT [dbo].[MeterStatus] ([Id], [Name], [CanAcceptReadings]) VALUES (2, N'Неисправен', 0)
INSERT [dbo].[MeterStatus] ([Id], [Name], [CanAcceptReadings]) VALUES (3, N'На поверке', 0)
SET IDENTITY_INSERT [dbo].[MeterStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterType] ON 

INSERT [dbo].[MeterType] ([Id], [Name], [Voltage], [MaxCurrent], [AccuracyClass], [DigitCount], [DecimalPlaces], [ServiceLifeYears]) VALUES (1, N'Однофазный электронный', 220, 60, N'1.0', 6, 1, 32)
INSERT [dbo].[MeterType] ([Id], [Name], [Voltage], [MaxCurrent], [AccuracyClass], [DigitCount], [DecimalPlaces], [ServiceLifeYears]) VALUES (2, N'Однофазный индукционный', 220, 40, N'2.0', 5, 0, 30)
INSERT [dbo].[MeterType] ([Id], [Name], [Voltage], [MaxCurrent], [AccuracyClass], [DigitCount], [DecimalPlaces], [ServiceLifeYears]) VALUES (3, N'Трехфазный электронный', 380, 100, N'0.5', 8, 1, 32)
SET IDENTITY_INSERT [dbo].[MeterType] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectType] ON 

INSERT [dbo].[ObjectType] ([Id], [Name], [NormConsumption]) VALUES (1, N'Квартира', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[ObjectType] ([Id], [Name], [NormConsumption]) VALUES (2, N'Частный дом', CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[ObjectType] ([Id], [Name], [NormConsumption]) VALUES (3, N'Магазин', CAST(500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ObjectType] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Id], [ConsumptionObjectId], [PaymentDate], [Amount], [PaymentMethodId], [ReceivedByUserId], [ReceiptNumber], [PeriodMonth], [PeriodYear]) VALUES (3, 1, CAST(N'2024-02-10T10:00:00.000' AS DateTime), CAST(3146.00 AS Decimal(15, 2)), 1, 3, N'КВ-001/24', 1, 2024)
INSERT [dbo].[Payment] ([Id], [ConsumptionObjectId], [PaymentDate], [Amount], [PaymentMethodId], [ReceivedByUserId], [ReceiptNumber], [PeriodMonth], [PeriodYear]) VALUES (4, 2, CAST(N'2024-02-15T11:30:00.000' AS DateTime), CAST(3380.00 AS Decimal(15, 2)), 2, 3, N'КВ-002/24', 1, 2024)
INSERT [dbo].[Payment] ([Id], [ConsumptionObjectId], [PaymentDate], [Amount], [PaymentMethodId], [ReceivedByUserId], [ReceiptNumber], [PeriodMonth], [PeriodYear]) VALUES (5, 1, CAST(N'2025-02-10T09:45:00.000' AS DateTime), CAST(7673.60 AS Decimal(15, 2)), 1, 3, N'КВ-003/25', 1, 2025)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([Id], [Name], [RequiresCashier]) VALUES (1, N'Наличные', 1)
INSERT [dbo].[PaymentMethod] ([Id], [Name], [RequiresCashier]) VALUES (2, N'Банковская карта', 1)
INSERT [dbo].[PaymentMethod] ([Id], [Name], [RequiresCashier]) VALUES (3, N'Онлайн-банк', 0)
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadingStatus] ON 

INSERT [dbo].[ReadingStatus] ([Id], [Code], [Name], [Description], [ColorHex]) VALUES (1, N'Entered', N'Введено', N'Показания введены оператором', N'#FFA500')
INSERT [dbo].[ReadingStatus] ([Id], [Code], [Name], [Description], [ColorHex]) VALUES (2, N'Verified', N'Подтверждено', N'Показания проверены', N'#008000')
INSERT [dbo].[ReadingStatus] ([Id], [Code], [Name], [Description], [ColorHex]) VALUES (3, N'Rejected', N'Отклонено', N'Показания отклонены', N'#FF0000')
SET IDENTITY_INSERT [dbo].[ReadingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([Id], [Name], [Code]) VALUES (1, N'Республика Башкортостан', N'02')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[RejectionReason] ON 

INSERT [dbo].[RejectionReason] ([Id], [Name], [RequiresComment]) VALUES (1, N'Некорректные данные', 1)
INSERT [dbo].[RejectionReason] ([Id], [Name], [RequiresComment]) VALUES (2, N'Скачок потребления', 1)
INSERT [dbo].[RejectionReason] ([Id], [Name], [RequiresComment]) VALUES (3, N'Отсутствие доступа', 0)
SET IDENTITY_INSERT [dbo].[RejectionReason] OFF
GO
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([Id], [Name], [CityId], [PostalCode]) VALUES (1, N'Ленина', 1, N'452680')
INSERT [dbo].[Street] ([Id], [Name], [CityId], [PostalCode]) VALUES (2, N'Социалистическая', 1, N'452683')
INSERT [dbo].[Street] ([Id], [Name], [CityId], [PostalCode]) VALUES (3, N'Мира', 2, N'452690')
SET IDENTITY_INSERT [dbo].[Street] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariff] ON 

INSERT [dbo].[Tariff] ([Id], [TariffTypeId], [UnitId], [PricePerUnit], [ZoneNumber], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(5.2000 AS Decimal(10, 4)), 1, CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date))
INSERT [dbo].[Tariff] ([Id], [TariffTypeId], [UnitId], [PricePerUnit], [ZoneNumber], [StartDate], [EndDate]) VALUES (2, 1, 1, CAST(5.5000 AS Decimal(10, 4)), 1, CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[Tariff] ([Id], [TariffTypeId], [UnitId], [PricePerUnit], [ZoneNumber], [StartDate], [EndDate]) VALUES (3, 1, 1, CAST(5.8000 AS Decimal(10, 4)), 1, CAST(N'2026-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Tariff] OFF
GO
SET IDENTITY_INSERT [dbo].[TariffType] ON 

INSERT [dbo].[TariffType] ([Id], [Name], [ZoneCount], [Description]) VALUES (1, N'Однотарифный', 1, N'Единая цена в любое время суток')
INSERT [dbo].[TariffType] ([Id], [Name], [ZoneCount], [Description]) VALUES (2, N'Двухтарифный', 2, N'День/Ночь')
SET IDENTITY_INSERT [dbo].[TariffType] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON 

INSERT [dbo].[UnitOfMeasure] ([Id], [Name], [Symbol], [IsDefault]) VALUES (1, N'киловатт-час', N'кВт·ч', 1)
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [CreatedAt]) VALUES (1, N'operator', N'12345', N'Иванов Иван Иванович', N'ivanov@mail.ru', 1, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [CreatedAt]) VALUES (2, N'inspector', N'12345', N'Петров Петр Петрович', N'petrov@mail.ru', 2, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [CreatedAt]) VALUES (3, N'accountant', N'12345', N'Сидорова Анна Сергеевна', N'sidorova@mail.ru', 3, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [Name], [Description], [PermissionsJson]) VALUES (1, N'Оператор', N'Ввод показаний', N'["Reading.Enter","Reading.ViewOwn"]')
INSERT [dbo].[UserRole] ([Id], [Name], [Description], [PermissionsJson]) VALUES (2, N'Инспектор', N'Верификация показаний', N'["Reading.Verify","Reading.ViewAll"]')
INSERT [dbo].[UserRole] ([Id], [Name], [Description], [PermissionsJson]) VALUES (3, N'Бухгалтер', N'Расчеты и платежи', N'["Accrual.Calculate","Payment.Register"]')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[VerificationInterval] ON 

INSERT [dbo].[VerificationInterval] ([Id], [MeterTypeId], [Years]) VALUES (1, 4, 8)
INSERT [dbo].[VerificationInterval] ([Id], [MeterTypeId], [Years]) VALUES (2, 5, 16)
INSERT [dbo].[VerificationInterval] ([Id], [MeterTypeId], [Years]) VALUES (3, 1, 16)
SET IDENTITY_INSERT [dbo].[VerificationInterval] OFF
GO
/****** Object:  Index [UQ_Accrual_Object_Period]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Accrual] ADD  CONSTRAINT [UQ_Accrual_Object_Period] UNIQUE NONCLUSTERED 
(
	[ConsumptionObjectId] ASC,
	[PeriodMonth] ASC,
	[PeriodYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accrual_ConsumptionObjectId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_Accrual_ConsumptionObjectId] ON [dbo].[Accrual]
(
	[ConsumptionObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accrual_PeriodYear_PeriodMonth]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_Accrual_PeriodYear_PeriodMonth] ON [dbo].[Accrual]
(
	[PeriodYear] ASC,
	[PeriodMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_ActionTime]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_ActionTime] ON [dbo].[AuditLog]
(
	[ActionTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLog_TableName_RecordId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_TableName_RecordId] ON [dbo].[AuditLog]
(
	[TableName] ASC,
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_City_Region_Name]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [UQ_City_Region_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__C51D43DAD1D8261E]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Contract] ADD UNIQUE NONCLUSTERED 
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__737584F6F2D9EC1E]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[ContractStatus] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EnergySource_Code]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[EnergySource] ADD  CONSTRAINT [UQ_EnergySource_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EnergySource_Name]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[EnergySource] ADD  CONSTRAINT [UQ_EnergySource_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Meter__048A0008494C9A16]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Meter] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Meter_ConsumptionObjectId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_Meter_ConsumptionObjectId] ON [dbo].[Meter]
(
	[ConsumptionObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MeterDataHistory_Meter_Period]    Script Date: 19.05.2026 15:28:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MeterDataHistory_Meter_Period] ON [dbo].[MeterDataHistory]
(
	[MeterId] ASC,
	[PeriodYear] ASC,
	[PeriodMonth] ASC,
	[SourceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MeterReading_Meter_Date]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[MeterReading] ADD  CONSTRAINT [UQ_MeterReading_Meter_Date] UNIQUE NONCLUSTERED 
(
	[MeterId] ASC,
	[ReadingDate] ASC,
	[TariffZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterReading_MeterId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_MeterReading_MeterId] ON [dbo].[MeterReading]
(
	[MeterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterReading_ReadingDate]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_MeterReading_ReadingDate] ON [dbo].[MeterReading]
(
	[ReadingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterReading_ReadingStatusId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_MeterReading_ReadingStatusId] ON [dbo].[MeterReading]
(
	[ReadingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MeterSta__737584F62380532F]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[MeterStatus] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MeterTyp__737584F6BB3687ED]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[MeterType] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ObjectTy__737584F65D51ABEB]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[ObjectType] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payment__C08AFDAB426911C1]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_ConsumptionObjectId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_ConsumptionObjectId] ON [dbo].[Payment]
(
	[ConsumptionObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_PeriodYear_PeriodMonth]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PeriodYear_PeriodMonth] ON [dbo].[Payment]
(
	[PeriodYear] ASC,
	[PeriodMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__737584F682ACDAEF]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[PaymentMethod] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ReadingS__737584F6AFD396D0]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[ReadingStatus] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ReadingS__A25C5AA7FA4F6A39]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[ReadingStatus] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Region__737584F67CFDD9F6]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Region] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rejectio__737584F6FFF48A96]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[RejectionReason] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Street_City_Name]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[Street] ADD  CONSTRAINT [UQ_Street_City_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TariffTy__737584F6F9CD472B]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[TariffType] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UnitOfMe__737584F69DD35F98]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[UnitOfMeasure] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UnitOfMe__B7CC3F017917D966]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[UnitOfMeasure] ADD UNIQUE NONCLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4111E6FF3]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105349B004A9A]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_RoleId]    Script Date: 19.05.2026 15:28:04 ******/
CREATE NONCLUSTERED INDEX [IX_User_RoleId] ON [dbo].[User]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__737584F61F3DBCEA]    Script Date: 19.05.2026 15:28:04 ******/
ALTER TABLE [dbo].[UserRole] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accrual] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Accrual] ADD  DEFAULT ((0)) FOR [PenaltyAmount]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[ConsumptionObject] ADD  DEFAULT ('NoDebt') FOR [DebtStatus]
GO
ALTER TABLE [dbo].[ContractStatus] ADD  DEFAULT ((1)) FOR [AllowsBilling]
GO
ALTER TABLE [dbo].[DebtProcessLog] ADD  DEFAULT ((0)) FOR [NotificationSent]
GO
ALTER TABLE [dbo].[DebtProcessLog] ADD  DEFAULT ((0)) FOR [RestrictionApplied]
GO
ALTER TABLE [dbo].[DebtProcessLog] ADD  DEFAULT ((0)) FOR [DisconnectionApplied]
GO
ALTER TABLE [dbo].[DebtProcessLog] ADD  DEFAULT ('NoDebt') FOR [Status]
GO
ALTER TABLE [dbo].[DebtProcessLog] ADD  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[Meter] ADD  DEFAULT ((0)) FOR [InitialReading]
GO
ALTER TABLE [dbo].[MeterDataHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT (getdate()) FOR [EnteredAt]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT ((1)) FOR [TariffZone]
GO
ALTER TABLE [dbo].[MeterStatus] ADD  DEFAULT ((1)) FOR [CanAcceptReadings]
GO
ALTER TABLE [dbo].[MeterType] ADD  DEFAULT ((0)) FOR [DecimalPlaces]
GO
ALTER TABLE [dbo].[NotificationLog] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[NotificationLog] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((1)) FOR [RequiresCashier]
GO
ALTER TABLE [dbo].[PaymentPenalty] ADD  DEFAULT (getdate()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[PaymentPenalty] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[RejectionReason] ADD  DEFAULT ((0)) FOR [RequiresComment]
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject] ADD  DEFAULT (getdate()) FOR [ConnectionDate]
GO
ALTER TABLE [dbo].[Tariff] ADD  DEFAULT ((1)) FOR [ZoneNumber]
GO
ALTER TABLE [dbo].[TariffType] ADD  DEFAULT ((1)) FOR [ZoneCount]
GO
ALTER TABLE [dbo].[UnitOfMeasure] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD  CONSTRAINT [FK_Accrual_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[Accrual] CHECK CONSTRAINT [FK_Accrual_ConsumptionObject]
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD  CONSTRAINT [FK_Accrual_Tariff] FOREIGN KEY([TariffId])
REFERENCES [dbo].[Tariff] ([Id])
GO
ALTER TABLE [dbo].[Accrual] CHECK CONSTRAINT [FK_Accrual_Tariff]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_User]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Region]
GO
ALTER TABLE [dbo].[ConsumptionObject]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionObject_ObjectType] FOREIGN KEY([ObjectTypeId])
REFERENCES [dbo].[ObjectType] ([Id])
GO
ALTER TABLE [dbo].[ConsumptionObject] CHECK CONSTRAINT [FK_ConsumptionObject_ObjectType]
GO
ALTER TABLE [dbo].[ConsumptionObject]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionObject_Street] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([Id])
GO
ALTER TABLE [dbo].[ConsumptionObject] CHECK CONSTRAINT [FK_ConsumptionObject_Street]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_ConsumptionObject]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_ContractStatus] FOREIGN KEY([ContractStatusId])
REFERENCES [dbo].[ContractStatus] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_ContractStatus]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Tariff] FOREIGN KEY([TariffId])
REFERENCES [dbo].[Tariff] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Tariff]
GO
ALTER TABLE [dbo].[DebtProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DebtProcessLog_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[DebtProcessLog] CHECK CONSTRAINT [FK_DebtProcessLog_ConsumptionObject]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_ConsumptionObject]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_MeterStatus] FOREIGN KEY([MeterStatusId])
REFERENCES [dbo].[MeterStatus] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_MeterStatus]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_MeterType] FOREIGN KEY([MeterTypeId])
REFERENCES [dbo].[MeterType] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_MeterType]
GO
ALTER TABLE [dbo].[MeterDataHistory]  WITH CHECK ADD  CONSTRAINT [FK_MeterDataHistory_Meter] FOREIGN KEY([MeterId])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[MeterDataHistory] CHECK CONSTRAINT [FK_MeterDataHistory_Meter]
GO
ALTER TABLE [dbo].[MeterDataHistory]  WITH CHECK ADD  CONSTRAINT [FK_MeterDataHistory_User] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MeterDataHistory] CHECK CONSTRAINT [FK_MeterDataHistory_User]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MeterReading_Meter] FOREIGN KEY([MeterId])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MeterReading_Meter]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MeterReading_ReadingStatus] FOREIGN KEY([ReadingStatusId])
REFERENCES [dbo].[ReadingStatus] ([Id])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MeterReading_ReadingStatus]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MeterReading_RejectionReason] FOREIGN KEY([RejectionReasonId])
REFERENCES [dbo].[RejectionReason] ([Id])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MeterReading_RejectionReason]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MeterReading_User] FOREIGN KEY([EnteredByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MeterReading_User]
GO
ALTER TABLE [dbo].[MeterReplacementHistory]  WITH CHECK ADD  CONSTRAINT [FK_MRH_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[MeterReplacementHistory] CHECK CONSTRAINT [FK_MRH_ConsumptionObject]
GO
ALTER TABLE [dbo].[MeterReplacementHistory]  WITH CHECK ADD  CONSTRAINT [FK_MRH_NewMeter] FOREIGN KEY([NewMeterId])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[MeterReplacementHistory] CHECK CONSTRAINT [FK_MRH_NewMeter]
GO
ALTER TABLE [dbo].[MeterReplacementHistory]  WITH CHECK ADD  CONSTRAINT [FK_MRH_OldMeter] FOREIGN KEY([OldMeterId])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[MeterReplacementHistory] CHECK CONSTRAINT [FK_MRH_OldMeter]
GO
ALTER TABLE [dbo].[NotificationLog]  WITH CHECK ADD  CONSTRAINT [FK_NotificationLog_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationLog] CHECK CONSTRAINT [FK_NotificationLog_ConsumptionObject]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_ConsumptionObject]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([ReceivedByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[PaymentPenalty]  WITH CHECK ADD  CONSTRAINT [FK_PaymentPenalty_Accrual] FOREIGN KEY([AccrualId])
REFERENCES [dbo].[Accrual] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentPenalty] CHECK CONSTRAINT [FK_PaymentPenalty_Accrual]
GO
ALTER TABLE [dbo].[Street]  WITH CHECK ADD  CONSTRAINT [FK_Street_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Street] CHECK CONSTRAINT [FK_Street_City]
GO
ALTER TABLE [dbo].[SupplyPoint]  WITH CHECK ADD  CONSTRAINT [FK_SupplyPoint_EnergySource] FOREIGN KEY([EnergySourceId])
REFERENCES [dbo].[EnergySource] ([Id])
GO
ALTER TABLE [dbo].[SupplyPoint] CHECK CONSTRAINT [FK_SupplyPoint_EnergySource]
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject]  WITH CHECK ADD  CONSTRAINT [FK_SPCO_ConsumptionObject] FOREIGN KEY([ConsumptionObjectId])
REFERENCES [dbo].[ConsumptionObject] ([Id])
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject] CHECK CONSTRAINT [FK_SPCO_ConsumptionObject]
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject]  WITH CHECK ADD  CONSTRAINT [FK_SPCO_SupplyPoint] FOREIGN KEY([SupplyPointId])
REFERENCES [dbo].[SupplyPoint] ([Id])
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject] CHECK CONSTRAINT [FK_SPCO_SupplyPoint]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_TariffType] FOREIGN KEY([TariffTypeId])
REFERENCES [dbo].[TariffType] ([Id])
GO
ALTER TABLE [dbo].[Tariff] CHECK CONSTRAINT [FK_Tariff_TariffType]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_UnitOfMeasure] FOREIGN KEY([UnitId])
REFERENCES [dbo].[UnitOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[Tariff] CHECK CONSTRAINT [FK_Tariff_UnitOfMeasure]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
ALTER TABLE [dbo].[VerificationInterval]  WITH CHECK ADD  CONSTRAINT [FK_VerificationInterval_MeterType] FOREIGN KEY([MeterTypeId])
REFERENCES [dbo].[MeterType] ([Id])
GO
ALTER TABLE [dbo].[VerificationInterval] CHECK CONSTRAINT [FK_VerificationInterval_MeterType]
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD CHECK  (([ConsumptionValue]>=(0)))
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD CHECK  (([PeriodMonth]>=(1) AND [PeriodMonth]<=(12)))
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD CHECK  (([PeriodYear]>=(2000) AND [PeriodYear]<=(2100)))
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [CHK_Contract_Dates] CHECK  (([StartDate]>=[ContractDate] AND ([EndDate] IS NULL OR [EndDate]>[StartDate])))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [CHK_Contract_Dates]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [CHK_Meter_Dates] CHECK  (([VerificationDate]<=[NextVerificationDate]))
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [CHK_Meter_Dates]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD CHECK  (([TariffZone]>=(1) AND [TariffZone]<=(3)))
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD CHECK  (([Value]>=(0)))
GO
ALTER TABLE [dbo].[MeterReplacementHistory]  WITH CHECK ADD  CONSTRAINT [CHK_MRH_Meters] CHECK  (([OldMeterId]<>[NewMeterId]))
GO
ALTER TABLE [dbo].[MeterReplacementHistory] CHECK CONSTRAINT [CHK_MRH_Meters]
GO
ALTER TABLE [dbo].[MeterType]  WITH CHECK ADD CHECK  (([DigitCount]>=(1) AND [DigitCount]<=(10)))
GO
ALTER TABLE [dbo].[MeterType]  WITH CHECK ADD CHECK  (([Voltage]=(380) OR [Voltage]=(220)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([PeriodMonth]>=(1) AND [PeriodMonth]<=(12)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([PeriodYear]>=(2000) AND [PeriodYear]<=(2100)))
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject]  WITH CHECK ADD  CONSTRAINT [CHK_SPCO_Dates] CHECK  (([DisconnectionDate] IS NULL OR [DisconnectionDate]>[ConnectionDate]))
GO
ALTER TABLE [dbo].[SupplyPointConsumptionObject] CHECK CONSTRAINT [CHK_SPCO_Dates]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD  CONSTRAINT [CHK_Tariff_Dates] CHECK  (([EndDate] IS NULL OR [EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[Tariff] CHECK CONSTRAINT [CHK_Tariff_Dates]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD CHECK  (([PricePerUnit]>(0)))
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD CHECK  (([ZoneNumber]>=(1) AND [ZoneNumber]<=(3)))
GO
ALTER TABLE [dbo].[TariffType]  WITH CHECK ADD CHECK  (([ZoneCount]=(3) OR [ZoneCount]=(2) OR [ZoneCount]=(1)))
GO
ALTER TABLE [dbo].[VerificationInterval]  WITH CHECK ADD CHECK  (([Years]>(0)))
GO
USE [master]
GO
