<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
  <add name="EnergyMeteringSystemEntities" connectionString="metadata=res://*/Database.EnergyMeteringModel.csdl|res://*/Database.EnergyMeteringModel.ssdl|res://*/Database.EnergyMeteringModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=42-15\SQLEXPRESS;initial catalog=EnergyMeteringSystem;persist security info=True;user id=sa;password=1234;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>